*{
  margin: 0;
  padding: 0;box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

li{
  list-style: none;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: white;
}

.container{
  margin: 0 175px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}